<h1>Edit Animal</h1>
<table>
<form method ="post" action="/animals/<%= @animal.id%>"><tr>
<th>
 <label for="Animal_name">Animal name:</label></th><td></td><td><input id="name" type="text" name="name" value ="<%=@animal.name %>" /></td></tr>
 <tr>
 <th><label for="type">Select a Type</label></th><td></td><td>
  <select id="type" name="animal_id">
  
<option value="<%= @animal.id%>"><%= @animal.type%></option>
  
  
  </select></td>
  <br/></tr>
  <tr>
<th> <label for="breed">Breed:</label></th><td></td> <td>
  <input id="breed" type="text" name="breed" value ="<%=@animal.breed %>"  /></td>
   <br/></tr>
 
 
  <br/>
</tr>
  <tr>
   <th><label for="Admission_date">Admission Date:</label>
  </th>
<td></td>
   <td>
 <input id="Admission_date" type="date" name="admission_date" value="<%=@animal.admission_date %>" /></td>
 <br/>
 </tr>
   <tr>
    <th><label for="description">Description</label>
   </th>
 <td></td>
    <td>
  <input id="description" type="text" name="description" value="<%=@animal.description %>" /></td>
  <br/>
  </tr>
  <tr>
   <th><label for="Image">Image:</label>
  </th><td></td>
<td><input type ="text"  name = "image" value = "<%= @animal.image%>" /></td>
   
 <br/>
 </tr>
   <tr>
    <th><label for="status">Status:</label>
   </th><td></td>
 <td><input type ="radio"  name = "status" value = "t" <%= "checked" if @animal.status == 't' %> />Adoptable</td>
 <td><input type ="radio"  name = "status" value = "f" <%= "checked" if @animal.status == 'f' %> />Not Adoptable</td>
 <!-- <input checked />   -->
    
  <br/>
  </tr>
 <tr>
 <td></td>
 <td>
 <input type="submit" value="Edit Animal" /></td></tr>
</form>

</table>
