<h1>All Animals</h1>

  
<table>
<tr>
<th><p>Name </p></th>
   
   <th> Admission_date</th>
   <th>image</th>
   
   <th>Status</th>
   <th></th>
   <th>Edit</th>
<th></th>
<th>Delete</th>
  </tr>
 
  <% for animal in @animals %>
  <tr>
  <td><p><%= animal.name %><p></td>
  
  <td> <p> <%= animal.admission_date %></p></td>
   <!-- <td align="centre"> <p><%= animal.description %></p></td> -->
   
    <td><p> <img style="height: 150px; width: 200px" src = <%= animal.image%> /></p></td>
    
  <p><% animal.status %></p>
   <% if animal.status == "t" %>
  <td> <!-- <a href ="/owners/edit"> -->Adoptable<!-- </a> --></td>
   <% else animal.status == "f" %>
    <td>  NOT Adoptable,Booked</td>
     
      <% end %> 
     <!-- <td><a href = "">Edit</a></td><td></td> -->
     <td></td>
     <form method ="post" action ="/animals/<%=animal.id%>/delete">
       <td> <input type="submit"   value ="Delete" ></td>
      </form>
      
      <td></td>
     <form method ="get" action ="/animals/<%=animal.id%>/edit">
       <td> <input type="submit"  value ="Edit" ></td>
      </form>
 
  
  <% end %>
  </tr>
  </table>
  
  
  
    
    
    
    
    
  
  
