<h1>All Animals</h1>

<% for animal in @animals %>
  
<div class ="animals">
<table >
<tr>
  
   <td> <img class="image" type="text" src = <%= animal.image%> /></td></tr>
   <tr>
<tr>
<th class = "header">Name</th>
   <td><p class ="text"><%= animal.name %></p></td>
  <tr> <th class = "header"> Admission_date :</th>

  <td> <p  class ="text"> <%= animal.admission_date %></p></td></tr>

   <th class = "header">Status</th>
  <p  class ="text"><% animal.status %></p>
     <% if animal.status == "t" %>
    <td> <!-- <a href ="/owners/edit"> -->Adoptable<!-- </a> --></td>
     <% else animal.status == "f" %>
      <td>  NOT Adoptable,Booked</td></tr>
       <% end %> 
   <tr>
   <td>
   <form method ="get" action ="/animals/<%=animal.id%>/edit">
     <input type="submit"  value ="Edit" >
    </form>
    </td>
    
       <td>
       <form method ="post" action ="/animals/<%=animal.id%>/delete">
         <input type="submit"   value ="Delete" >
         
        </form>
</td>
 

  </tr>
 </tr>
  </table>
  </div>
  <% end %>
  
    
    
    
    
    
  
  
